.CodePreview {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 32px;
  .preview {
    width: 100%;
    border: 1px solid var(--line);
    margin: 12px 0 8px;
    padding: 20px;
    border-radius: 8px;
    transition: all 0.3s;
  }

  .tools {
    display: flex;
    justify-content: flex-end;
    gap: 6px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      background-color: var(--icon-bgcolor);
      cursor: pointer;
      border-radius: 8px;
      transition: all 0.3s;
      font-size: 13px;
      color: var(--icon-color);
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
  .code-container {
    margin-top: 8px;
    border: 1px solid var(--line);
    border-radius: 8px;
    overflow: hidden;
    .code {
      :deep(pre) {
        margin: 0 !important;
        padding: 16px !important;
        font-size: 14px !important;
        overflow-x: auto;
        white-space: pre;
        background-color: #292d3e !important;
      }
      :deep(pre code) {
        background-color: transparent !important;
        padding: 0 !important;
      }
    }
  }
}
