h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: ui-sans-serif;
  line-height: 1.28;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
p {
  font-size: 15px;
  line-height: 2;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 25px;
  position: relative;

  &:after {
    content: '#';
    opacity: 0;
    margin-left: 10px;
    transition: opacity 0.2s ease;
  }

  &:hover:after {
    opacity: 1;
  }
}
code {
  background-color: var(--line);
  padding: 3px 6px;
  border-radius: 4px;
  margin: 0px 1px;
  font-size: 13px;
  font-weight: 500;
}

.ant-table-wrapper {
  margin-top: 40px;
  .ant-table {
    background: transparent !important;
    .ant-table-container {
      background: transparent !important;
    }
    .ant-table-thead > tr > th {
      background: var(--icon-bgcolor) !important;
    }
    .ant-table-tbody > tr > td {
      background: transparent !important;
    }
  }
}
