.Tools {
  display: flex;
  align-items: center;
  user-select: none;
  span {
    padding: 13px;
    background-color: transparent;
    transition: all 0.3s ease;
    border-radius: 50%;
    font-size: 14px;
    &:hover {
      background-color: var(--hover-bg);
    }
  }
}
