.Name {
  width: 100%;
  height: auto;
  img {
    &:nth-child(1) {
      margin: 0 auto;
      width: 80px;
      filter: invert(var(--boolean));
    }
    &:nth-child(2) {
      position: absolute;
      bottom: 0;
    }
  }
}
@media (max-width: 768px) {
  .Name {
    img {
      &:nth-child(1) {
        width: 60px;
      }
      &:nth-child(2) {
        transform: scale(6);
        position: relative;
        text-align: center;
        object-fit: cover;
      }
    }
  }
}
