.Nav {
  height: 80px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    img {
      width: 32px;
      height: 32px;
    }
    span {
      font-size: 20px;
      font-family: serif;
      font-weight: 600;
    }
  }
}
@media (max-width: 768px) {
  .Nav {
    height: 60px;
    border-bottom: 1px solid var(--line);
    .logo {
      span {
        display: none;
      }
    }
  }
}
